<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>SwapMeD</title>
</head>
<body>
<header th:insert="fragments/loggedHeader"></header>
<div sec:authorize="isAuthenticated()">
    <form th:action="@{/workplace/{workplaceId}/delete-user(workplaceId = ${workplace.id})}" th:method="post">
        <div class="container-fluid h-custom" style="margin-left: auto; margin-right: auto">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5 container-fluid text-center">
                    <div class="text-center">Opuszczenie grupy spowoduje usunięcie wszystkich grafików.</div>
                    <div class="text-center">Czy na pewno chcesz opuścić grupę?</div>
                    <a th:href="@{/dashboard}">
                        <button type="button" class="btn btn-light btn-lg"
                                style="background-color : #81dbe7; padding-left: 2.5rem; padding-right: 2.5rem;">Anuluj
                        </button>
                    </a>
                    <button type="submit" class="btn btn-light btn-lg"
                            style="background-color : #81dbe7; padding-left: 2.5rem; padding-right: 2.5rem;">Tak
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<footer th:insert="fragments/footer"></footer>
</body>
</html>