<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Groups</title>
</head>
<body>
<header th:include="fragments/loggedHeader"></header>
<section class="vh-100">

    <a th:href="@{/groups/add}">Dodaj nową grupę</a>

    <h1>
        <div>Lista wszystkich grup zarejestrowanych w aplikacji</div>
    </h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nazwa placówki</th>
            <th scope="col">Adres</th>
            <th scope="col">Miasto</th>
            <th scope="col">Oddział</th>
            <th scope="col">Akcje</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="workplace: ${workplaceList}">
            <th th:text="${workplace.id}" scope="row"></th>
            <td th:text="${workplace.name}"/>
            <td th:text="${workplace.address}"/>
            <td th:text="${workplace.city}"/>
            <td th:text="${workplace.division}"/>
            <td><a th:href="@{/groups/{id}(id = ${workplace.id})}">Dołącz do grupy</a></td>
        </tr>
        </tbody>
    </table>
    <footer th:include="fragments/footer"></footer>
</section>

</body>
</html>