<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Groups</title>
</head>
<body>
<header th:include="fragments/loggedHeader"></header>


<a th:href="@{/workplace/{workplaceId}/schedule/add(workplaceId=${workplace.id})}">Dodaj nowy grafik</a>
<a th:href="@{/workplace/{workplaceId}/schedule/{scheduleId}/duty/add(workplaceId=${workplace.id}, scheduleId=${schedule.id})}">Dodaj dyżur do grafiku</a>


<h2>
    <div><span th:text="${workplace.division}"></span> </div>
    <div>Szczegóły grafiku</div>
</h2>
<div class="table-responsive">
    <table class="table table-bordered table-sm ">
        <thead>
        <tr>
            <h3><th colspan="4"> <span th:text="${schedule.month}"></span>/<span th:text="${schedule.year}"></span> </th></h3>
        </tr>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Początek dyżuru</th>
            <th scope="col">Koniec dyżuru</th>
            <th scope="col">Akcje</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="duty: ${duties}">
            <th scope="row" th:text="${duties.indexOf(duty)+1}"></th>
            <td th:text="${duty.start}"></td>
            <td th:text="${duty.end}"></td>
            <td>Usuń dyżur Zamień dyżur</td>
        </tr>
        </tbody>

    </table>
</div>
<footer th:include="fragments/footer"></footer>

</body>
</html>