<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SwapMeD</title>
</head>
<body>
<header th:include="fragments/loggedHeader"></header>
<div class="d-flex justify-content-start">
    <ul class="justify-content-center text-center">
        <td class="mx-auto">

            <a th:href="@{/workplace/{id}(id=${workplace.id})}">
                <button type="button" class="btn btn-light btn-lg"
                        style="background-color : #81dbe7; padding:0.5rem;">Wróć do listy grafików
                </button>
            </a>
        </td>
        <td class="mx-auto">

            <a th:href="@{/workplace/{workplaceId}/schedule/{scheduleId}/duty/add(workplaceId=${workplace.id}, scheduleId=${schedule.id})}">
                <button type="button" class="btn btn-light btn-lg"
                        style="background-color : #81dbe7; padding:0.5rem;">Dodaj dyżur do grafiku
                </button>
            </a>
        </td>
    </ul>
</div>

<h2 class="d-flex justify-content-center">
    <div th:text="${workplace.division}"></div>
</h2>
<h2 class="d-flex justify-content-center">
    <div th:text="${'szczegóły grafiku'}"></div>
</h2>
<div class="table-responsive">
    <table class="table table-sm d-flex justify-content-center ">
        <tbody>
        <tr>
            <th th:text="${schedule.month + ' / ' + schedule.year}" class="justify-content-center text-center" colspan="4"></th>
        </tr>
        <tr>
            <th class="justify-content-center text-center" scope="col">#</th>
            <th class="justify-content-center text-center" scope="col">Początek dyżuru</th>
            <th class="justify-content-center text-center" scope="col">Koniec dyżuru</th>
            <th class="justify-content-center text-center" scope="col">Akcje</th>

        </tr>

        <tr th:each="duty: ${duties}">
            <th class="justify-content-center text-center" scope="row" th:text="${duties.indexOf(duty)+1}"></th>
            <td class="justify-content-center text-center" th:text="${duty.start}"></td>
            <td class="justify-content-center text-center" th:text="${duty.end}"></td>
            <td class="justify-content-center text-center">
                <a th:href="@{/workplace/{workplaceId}/schedule/{scheduleId}/duty/{dutyId}/delete(workplaceId=${workplace.id},scheduleId=${schedule.id},dutyId=${duty.id})}">
                    <button type="button" class="btn btn-light btn-lg"
                            style="background-color : #81dbe7; padding:0.5rem;">Usuń dyżur
                    </button>
                </a>
                <a th:href="@{/workplace/{workplaceId}/schedule/{scheduleId}/duty/{dutyId}/findShift(workplaceId=${workplace.id},scheduleId=${schedule.id},dutyId=${duty.id})}">
                    <button type="button" class="btn btn-light btn-lg"
                            style="background-color : #81dbe7; padding:0.5rem;">Wyszukaj zamianę
                    </button>
                </a>
            </td>
        </tr>
        </tbody>

    </table>
</div>
<footer th:include="fragments/footer"></footer>

</body>
</html>