<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Groups</title>
</head>
<body>
<header th:include="fragments/loggedHeader"></header>


    <a th:href="@{/workplace/{id}/schedule/add(id = ${workplace.get().id})}">Dodaj nowy grafik</a>

    <h1>
        <div>Lista moich grafików</div>
    </h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nazwa placówki</th>
            <th scope="col">Oddział</th>
            <th scope="col">Rok</th>
            <th scope="col">Miesiąc</th>
            <th scope="col">Akcje</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="schedule: ${scheduleList}">
            <th th:text="${schedule.id}" scope="row"></th>
            <td th:text="${schedule.workplace.name}"></td>
            <td th:text="${schedule.workplace.division}"></td>
            <td th:text="${schedule.year}"></td>
            <td th:text="${schedule.month}"></td>
            <td><a th:href="@{/workplace/{id}/schedule/{scheduleId}(id = ${workplace.get().id}, scheduleId = ${schedule.id})}">Szczegóły</a>
            <a th:href="@{/workplace/{id}/schedule/{scheduleId}/duty/add(id = ${workplace.get().id}, scheduleId = ${schedule.id})}">Dodaj swoje dyżury</a></td>
        </tr>
        </tbody>
    </table>
    <footer th:include="fragments/footer"></footer>

</body>
</html>