<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SwapMeD</title>
</head>
<body>
<header th:include="fragments/loggedHeader"></header>
<div class="d-flex justify-content-start">
    <ul class="justify-content-center text-center">
        <ul class="mx-auto">

            <a th:href="@{/workplace/{id}(id=${workplace.id})}">
                <button type="button" class="btn btn-light btn-lg"
                        style="background-color : #81dbe7; padding:0.5rem;">Wróć do listy grafików
                </button>
            </a>
        </ul>
    </ul>
</div>
<h2 class="d-flex justify-content-center">
    <div th:text="${workplace.name}"></div>
</h2>
<h2 class="d-flex justify-content-center">
    <div>Dodaj dyżur do swojego grafiku</div>
</h2>

<div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5 d-flex justify-content-center" style="font-size: 48px;">
            <i class="fas fa-user-nurse fa-5x"></i>
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 ">
            <form th:object="${duty}"
                  th:action="@{/workplace/{workplaceId}/schedule/{scheduleId}/duty/add(workplaceId=${workplace.id}, scheduleId=${schedule.id})}"
                  th:method="post">
                <div class="form mb-4">
                    <label class="form-label" for="start-time">Data i godzina rozpoczęcia dyżuru: </label>

                    <input
                            type="datetime-local" id="start-time"
                            th:field="*{{start}}" name="start"
                            min="2022-01-01T00:00" max="2030-12-31T23:59"
                            value="2022-01-01T07:00">
                    <span th:if="${#fields.hasErrors('start')}" th:errors="*{start}"/>
                    <label class="form mb-4" for="end-time"> Data i godzina końca dyżuru: </label>
                    <input type="datetime-local" id="end-time"
                           th:field="*{{end}}" name="end"
                           min="2022-01-01T00:00" max="2030-12-31T23:59">
                    <span th:if="${#fields.hasErrors('end')}" th:errors="*{end}"/>
                </div>

                <div class="text-center text-lg-start mt-4 pt-2">
                    <button type="submit" class="btn btn-light btn-lg"
                            style="background-color : #81dbe7; padding-left: 2.5rem; padding-right: 2.5rem;">Dodaj dyżur
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-white"></div>

<h2 class="d-flex justify-content-center">
    <div th:text="${workplace.division + ': szczegóły grafiku'}"></div>
</h2>
<div class="table-responsive">
    <table class="table table-bordered table-sm d-flex justify-content-center ">
        <tbody>
        <tr>
            <th th:text="${schedule.month + '/' + schedule.year}" class="justify-content-center text-center"
                colspan="4"></th>
        </tr>
        <tr>
            <th class="justify-content-center text-center" scope="col">#</th>
            <th class="justify-content-center text-center" scope="col">Początek dyżuru</th>
            <th class="justify-content-center text-center" scope="col">Koniec dyżuru</th>
            <th class="justify-content-center text-center" scope="col">Akcje</th>

        </tr>

        <tr th:each="duty: ${duties}">
            <th class="justify-content-center text-center" scope="row" th:text="${duties.indexOf(duty)+1}"></th>
            <td class="justify-content-center text-center" th:text="${duty.start}"></td>
            <td class="justify-content-center text-center" th:text="${duty.end}"></td>
            <td class="justify-content-center text-center">
                <a th:href="@{/workplace/{workplaceId}/schedule/{scheduleId}/duty/{dutyId}/delete(workplaceId=${workplace.id},scheduleId=${schedule.id},dutyId=${duty.id})}">Usuń
                    dyżur</a>
                Zamień dyżur
            </td>
        </tr>
        </tbody>

    </table>
</div>

<footer th:include="fragments/footer"></footer>

</body>
</html>