<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Groups</title>
</head>
<body>
<header th:include="fragments/loggedHeader"></header>
<section class="vh-100">

    <a th:href="@{/duty/add}">Dodaj nowy grafik</a>

    <h1>
        <div>Lista moich dyżurów w grafiku</div>
    </h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Początek</th>
            <th scope="col">Koniec</th>
            <th scope="col">Akcje</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="duty: ${dutyList}">
            <th th:text="${duty.id}" scope="row">Test</th>
            <td th:text="${duty.start}"></td>
            <td th:text="${duty.end}"></td>
        </tr>
        </tbody>
    </table>
    <footer th:include="fragments/footer"></footer>
</section>

</body>
</html>