<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/root_layout"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
</head>
<body>
<div sec:authorize= "isAuthenticated()">
<form th:action="@{/logout}" method="post"/>
    <div>
        Zalogowany jako: <div sec:authentication="principal.username"/>
        Posiada role: <div sec:authentication="authorities"/>
    </div>
<input class="fa fa-id-badge" type="submit" value="Wyloguj">
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
</form>
</div>
</body>
</html>